{% extends 'partials/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block bodystyle %}style="height: 100%"{% endblock %}

{% block body %}
    <div class="site-section" >

        <div class="uk-container uk-container-small full-page">
            <div class="page-header">
                <h2>Tableau de bord</h2>
            </div>


            <a class="uk-button uk-button-primary" href="{{ path('painting_new') }}">Créer un nouveau tableau</a>
            <table class="uk-table uk-table-striped uk-table-hover">
                <thead>
                <tr>
                    <th>Date de création</th>
                    <th>Titre</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for painting in paintings %}
                    <tr>
                        <td>{{ painting.creationDate ? painting.creationDate|date('d/m/Y') : '' }}</td>
                        <td>{{ painting.title }}</td>
                        <td><img class="painting uk-width-1-1 uk-padding-remove"
                                 data-src="{{ vich_uploader_asset(painting, 'imageFile') | imagine_filter('painting_mini_thumb') }}"
                                 alt="{{ painting.title }}" title="{{ painting.title }}" uk-img></td>
                        <td>
                            <a class="uk-margin uk-button uk-button-primary" href="{{ path('painting_edit', {'id': painting.id}) }}"><i class="fas fa-edit"></i></a>
                            {% include 'painting/_delete_form.html.twig' %}

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
