<!DOCTYPE html>

<title>Painting</title>

{% block body %}
    <h1>Painting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ painting.id }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ painting.creationDate ? painting.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ painting.title }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ vich_uploader_asset(painting, 'imageFile') | imagine_filter('painting_thumb') }}"></td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ painting.updatedAt ? painting.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('painting_index') }}">back to list</a>

    <a href="{{ path('painting_edit', {'id': painting.id}) }}">edit</a>

    {{ include('painting/_delete_form.html.twig') }}
{% endblock %}
