{% extends 'partials/base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block bodystyle %}style="height: 100%"{% endblock %}

{% block body %}
    <div class="site-section">

        <div class="uk-container uk-container-small  full-page">
            <div class="page-header">
                <h2>Contact</h2>
                <p class="uk-text-center">Si vous avez des questions concernant mon travail et mes oeuvres, vous êtes au
                    bon endroit. Utilisez le formulaire ci-dessous et je vous repondrais dans les plus brefs-délais</p>
            </div>
            {{ form_start(form) }}
            <div class="uk-child-width-expand@s uk-margin" uk-grid>
                <div>
                    <div>
                        <div>
                            <label class="uk-form-label" for="form-stacked-text">Votre prénom :</label>
                            <div class="uk-form-controls">
                                {{ form_widget(form.firstName, {'attr': {'class': 'uk-input'}}) }}
                                {{ form_errors(form.firstName) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div>
                            <label class="uk-form-label" for="form-stacked-text">Votre nom :</label>
                            <div class="uk-form-controls">
                                {{ form_widget(form.lastName, {'attr': {'class': 'uk-input'}}) }}
                                {{ form_errors(form.lastName) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Votre adresse email :</label>
                <div class="uk-form-controls">
                    {{ form_widget(form.email, {'attr': {'class': 'uk-input'}}) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Object de votre message :</label>
                <div class="uk-form-controls">
                    {{ form_widget(form.subject, {'attr': {'class': 'uk-input'}}) }}
                    {{ form_errors(form.subject) }}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label" for="form-stacked-text">Votre message :</label>
                <div class="uk-form-controls">
                    {{ form_widget(form.message, {'attr': {'class': 'uk-textarea', 'rows' : '10'}}) }}
                    {{ form_errors(form.message) }}
                </div>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-default">Envoyer</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}